# Visualization of American coffee taste

In [151]:
# Ignore warnings
import warnings
warnings.filterwarnings('ignore')

# Data manipulation
import numpy as np
import pandas as pd

# Visualizations
import seaborn as sns
import matplotlib.pyplot as plt

In [152]:
df=pd.read_csv('data/coffee_survey.csv')

# Data Dictionary

| variable|	description|
|---|---|
|submission_id	|	Submission ID|
|age	|	What is your age?
|cups	|	How many cups of coffee do you typically drink per day?
where_drink	|	Where do you typically drink coffee?
brew	|	How do you brew coffee at home?
brew_other	|	How else do you brew coffee at home?
purchase	|	On the go, where do you typically purchase coffee?
purchase_other	|	Where else do you purchase coffee?
favorite	|	What is your favorite coffee drink?
favorite_specify	|	Please specify what your favorite coffee drink is
additions	|	Do you usually add anything to your coffee?
additions_other	|	What else do you add to your coffee?
dairy	|	What kind of dairy do you add?
sweetener	|	What kind of sugar or sweetener do you add?
style	|	Before today's tasting, which of the following best described what kind of coffee you like?
strength	|	How strong do you like your coffee?
roast_level	|	What roast level of coffee do you prefer?
caffeine	|	How much caffeine do you like in your coffee?
expertise	|	Lastly, how would you rate your own coffee expertise?
coffee_a_bitterness	|	Coffee A - Bitterness
coffee_a_acidity	|	Coffee A - Acidity
coffee_a_personal_preference	|	Coffee A - Personal Preference
coffee_a_notes	|	Coffee A - Notes
coffee_b_bitterness	|	Coffee B - Bitterness
coffee_b_acidity	|	Coffee B - Acidity
coffee_b_personal_preference	|	Coffee B - Personal Preference
coffee_b_notes	|	Coffee B - Notes
coffee_c_bitterness	|	Coffee C - Bitterness
coffee_c_acidity	|	Coffee C - Acidity
coffee_c_personal_preference	|	Coffee C - Personal Preference
coffee_c_notes	|	Coffee C - Notes
coffee_d_bitterness	|	Coffee D - Bitterness
coffee_d_acidity	|	Coffee D - Acidity
coffee_d_personal_preference	|	Coffee D - Personal Preference
coffee_d_notes	|	Coffee D - Notes
prefer_abc	|	Between Coffee A, Coffee B, and Coffee C which did you prefer?
prefer_ad	|	Between Coffee A and Coffee D, which did you prefer?
prefer_overall	|	Lastly, what was your favorite overall coffee?
wfh	|	Do you work from home or in person?
total_spend	|	In total, much money do you typically spend on coffee in a month?
why_drink	|	Why do you drink coffee?
why_drink_other	|	Other reason for drinking coffee
taste	|	Do you like the taste of coffee?
know_source	|	Do you know where your coffee comes from?
most_paid	|	What is the most you've ever paid for a cup of coffee?
most_willing	|	What is the most you'd ever be willing to pay for a cup of coffee?
value_cafe	|	Do you feel like you’re getting good value for your money when you buy coffee at a cafe?
spent_equipment	|	Approximately how much have you spent on coffee equipment in the past 5 years?
value_equipment	|	Do you feel like you’re getting good value for your money when you buy coffee at a cafe?
gender	|	Gender
gender_specify	|	Gender (please specify)
education_level	|	Education Level
ethnicity_race	|	Ethnicity/Race
ethnicity_race_specify	|	Ethnicity/Race (please specify)
employment_status	|	Employment Status
number_children	|	Number of Children
political_affiliation	|	Political Affiliation

# Data Discovery

In [153]:
pd.set_option('display.max_colwidth', 500)
df.head()

,submission_id,age,cups,where_drink,brew,brew_other,purchase,purchase_other,favorite,favorite_specify,...,spent_equipment,value_equipment,gender,gender_specify,education_level,ethnicity_race,ethnicity_race_specify,employment_status,number_children,political_affiliation
0,gMR29l,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,Regular drip coffee,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BkPN0e,25-34 years old,NaN,NaN,Pod/capsule machine (e.g. Keurig/Nespresso),NaN,NaN,NaN,Iced coffee,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,W5G8jj,25-34 years old,NaN,NaN,Bean-to-cup machine,NaN,NaN,NaN,Regular drip coffee,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4xWgGr,35-44 years old,NaN,NaN,Coffee brewing machine (e.g. Mr. Coffee),NaN,NaN,NaN,Iced coffee,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,QD27Q8,25-34 years old,NaN,NaN,Pour over,NaN,NaN,NaN,Latte,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4042 entries, 0 to 4041
Data columns (total 57 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   submission_id                 4042 non-null   object
 1   age                           4011 non-null   object
 2   cups                          3949 non-null   object
 3   where_drink                   3972 non-null   object
 4   brew                          3657 non-null   object
 5   brew_other                    678 non-null    object
 6   purchase                      710 non-null    object
 7   purchase_other                31 non-null     object
 8   favorite                      3980 non-null   object
 9   favorite_specify              114 non-null    object
 10  additions                     3959 non-null   object
 11  additions_other               48 non-null     object
 12  dairy                         1686 non-null   object
 13  sweetener                     512 non-null    object
 14  style                         3958 non-null   object
 15  strength                      3916 non-null   object
 16  roast_level                   3940 non-null   object
 17  caffeine                      3917 non-null   object
 18  expertise                     3938 non-null   float64
 19  coffee_a_bitterness           3798 non-null   float64
 20  coffee_a_acidity              3779 non-null   float64
 21  coffee_a_personal_preference  3789 non-null   float64
 22  coffee_a_notes                2578 non-null   object
 23  coffee_b_bitterness           3780 non-null   float64
 24  coffee_b_acidity              3767 non-null   float64
 25  coffee_b_personal_preference  3773 non-null   float64
 26  coffee_b_notes                2454 non-null   object
 27  coffee_c_bitterness           3764 non-null   float64
 28  coffee_c_acidity              3751 non-null   float64
 29  coffee_c_personal_preference  3766 non-null   float64
 30  coffee_c_notes                2382 non-null   object
 31  coffee_d_bitterness           3767 non-null   float64
 32  coffee_d_acidity              3765 non-null   float64
 33  coffee_d_personal_preference  3764 non-null   float64
 34  coffee_d_notes                2588 non-null   object
 35  prefer_abc                    3772 non-null   object
 36  prefer_ad                     3761 non-null   object
 37  prefer_overall                3770 non-null   object
 38  wfh                           3524 non-null   object
 39  total_spend                   3511 non-null   object
 40  why_drink                     3568 non-null   object
 41  why_drink_other               167 non-null    object
 42  taste                         3563 non-null   object
 43  know_source                   3559 non-null   object
 44  most_paid                     3527 non-null   object
 45  most_willing                  3510 non-null   object
 46  value_cafe                    3500 non-null   object
 47  spent_equipment               3506 non-null   object
 48  value_equipment               3494 non-null   object
 49  gender                        3523 non-null   object
 50  gender_specify                12 non-null     object
 51  education_level               3438 non-null   object
 52  ethnicity_race                3418 non-null   object
 53  ethnicity_race_specify        105 non-null    object
 54  employment_status             3419 non-null   object
 55  number_children               856 non-null    object
 56  political_affiliation         3289 non-null   object
dtypes: float64(13), object(44)
memory usage: 1.8+ MB

In [155]:
df.describe()

,expertise,coffee_a_bitterness,coffee_a_acidity,coffee_a_personal_preference,coffee_b_bitterness,coffee_b_acidity,coffee_b_personal_preference,coffee_c_bitterness,coffee_c_acidity,coffee_c_personal_preference,coffee_d_bitterness,coffee_d_acidity,coffee_d_personal_preference
count,3938.000000,3798.000000,3779.000000,3789.000000,3780.000000,3767.000000,3773.000000,3764.000000,3751.000000,3766.000000,3767.000000,3765.000000,3764.000000
mean,5.693499,2.141127,3.634824,3.310900,3.013228,2.223786,3.068646,3.071998,2.366836,3.064790,2.162729,3.858167,3.375930
std,1.948867,0.947163,0.982113,1.185953,0.992875,0.865389,1.113546,0.999267,0.921048,1.128431,1.081546,1.007973,1.452504
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,5.000000,1.000000,3.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,3.000000,2.000000
50%,6.000000,2.000000,4.000000,3.000000,3.000000,2.000000,3.000000,3.000000,2.000000,3.000000,2.000000,4.000000,4.000000
75%,7.000000,3.000000,4.000000,4.000000,4.000000,3.000000,4.000000,4.000000,3.000000,4.000000,3.000000,5.000000,5.000000
max,10.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [156]:
df.describe(include='object').T

                       count unique                         top  freq
submission_id           4042   4042                      gMR29l     1
age                     4011      7             25-34 years old  1986
cups                    3949      6                           2  1663
where_drink             3972     65                     At home  1625
brew                    3657    449                   Pour over   575
brew_other               678    160                   Aeropress   335
purchase                 710     89       Specialty coffee shop   116
purchase_other            31     26                    Cometeer     2
favorite                3980     12                    Pourover  1084
favorite_specify         114     77                  Flat White     9
additions               3959     53             No - just black  2154
additions_other           48     42                    Cinnamon     4
dairy                   1686    175                  Whole milk   525
sweetener                512     82            Granulated Sugar   179
style                   3958     12                      Fruity   953
strength                3916      5             Somewhat strong  1791
roast_level             3940      7                       Light  1778
caffeine                3917      3               Full caffeine  3576
coffee_a_notes          2578   2317                      Fruity    33
coffee_b_notes          2454   2197                   Chocolate    65
coffee_c_notes          2382   2162                   Chocolate    34
coffee_d_notes          2588   2354                      Fruity    47
prefer_abc              3772      3                    Coffee A  1682
prefer_ad               3761      2                    Coffee D  2015
prefer_overall          3770      4                    Coffee D  1385
wfh                     3524      3  I primarily work from home  1592
total_spend             3511      6                     $20-$40  1293
why_drink               3568     84              It tastes good   693
why_drink_other          167    163                      Social     3
taste                   3563      2                         Yes  3460
know_source             3559      2                         Yes  2720
most_paid               3527      8                       $6-$8  1095
most_willing            3510      8                      $8-$10   880
value_cafe              3500      2                         Yes  2048
spent_equipment         3506      7            More than $1,000   780
value_equipment         3494      2                         Yes  3318
gender                  3523      5                        Male  2524
gender_specify            12     11          Transgender Female     2
education_level         3438      6           Bachelor's degree  1759
ethnicity_race          3418      6             White/Caucasian  2626
ethnicity_race_specify   105     82                       Mixed     7
employment_status       3419      6          Employed full-time  2708
number_children          856      4                           2   402
political_affiliation   3289      4                    Democrat  1768

# Data Preprocessing

## Drop `submission_id` and reset index

In [157]:
df = df.drop('submission_id',axis=1)
df.head(2)

,age,cups,where_drink,brew,brew_other,purchase,purchase_other,favorite,favorite_specify,additions,...,spent_equipment,value_equipment,gender,gender_specify,education_level,ethnicity_race,ethnicity_race_specify,employment_status,number_children,political_affiliation
0,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,Regular drip coffee,NaN,No - just black,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,25-34 years old,NaN,NaN,Pod/capsule machine (e.g. Keurig/Nespresso),NaN,NaN,NaN,Iced coffee,NaN,"Sugar or sweetener, No - just black",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Encode `age`

In [158]:
df['age'].value_counts()

age
25-34 years old    1986
35-44 years old     960
18-24 years old     461
45-54 years old     302
55-64 years old     187
>65 years old        95
<18 years old        20
Name: count, dtype: int64

In [159]:
# Dictionary mapping
age_map = {"<18 years old": 0,
            "18-24 years old": 1, 
             "25-34 years old": 2, 
             "35-44 years old": 3,
             "45-54 years old": 4, 
             "55-64 years old": 5, 
             ">65 years old": 6       
             }

# Mapping categorical values
df['age'] = df['age'].map(age_map)

df

,age,cups,where_drink,brew,brew_other,purchase,purchase_other,favorite,favorite_specify,additions,...,spent_equipment,value_equipment,gender,gender_specify,education_level,ethnicity_race,ethnicity_race_specify,employment_status,number_children,political_affiliation
0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,Regular drip coffee,NaN,No - just black,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.0,NaN,NaN,Pod/capsule machine (e.g. Keurig/Nespresso),NaN,NaN,NaN,Iced coffee,NaN,"Sugar or sweetener, No - just black",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.0,NaN,NaN,Bean-to-cup machine,NaN,NaN,NaN,Regular drip coffee,NaN,No - just black,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3.0,NaN,NaN,Coffee brewing machine (e.g. Mr. Coffee),NaN,NaN,NaN,Iced coffee,NaN,"No - just black, Cinnamon",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.0,NaN,NaN,Pour over,NaN,NaN,NaN,Latte,NaN,No - just black,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4037,6.0,2,At home,Coffee brewing machine (e.g. Mr. Coffee),NaN,NaN,NaN,Regular drip coffee,NaN,"Milk, dairy alternative, or coffee creamer, Other",...,Less than $20,Yes,Female,NaN,Master's degree,White/Caucasian,NaN,Retired,2,Democrat
4038,6.0,2,At home,Coffee brewing machine (e.g. Mr. Coffee),NaN,NaN,NaN,Regular drip coffee,NaN,"Milk, dairy alternative, or coffee creamer",...,Less than $20,Yes,Male,NaN,Bachelor's degree,White/Caucasian,NaN,Retired,2,Republican
4039,1.0,1,"At a cafe, At home, On the go, At the office","Espresso, Pod/capsule machine (e.g. Keurig/Nespresso), Instant coffee, Other",Aeropress,"National chain (e.g. Starbucks, Dunkin), Drive-thru, Local cafe, Specialty coffee shop",NaN,Latte,NaN,"No - just black, Milk, dairy alternative, or coffee creamer, Flavor syrup",...,$300-$500,Yes,Male,NaN,Some college or associate's degree,White/Caucasian,NaN,Employed full-time,NaN,Democrat
4040,2.0,2,At home,Pour over,NaN,NaN,NaN,Iced coffee,NaN,"Milk, dairy alternative, or coffee creamer",...,$100-$300,Yes,Male,NaN,Bachelor's degree,White/Caucasian,NaN,Unemployed,NaN,Democrat
4041,2.0,1,At home,"Pour over, French press, Espresso, Other",Aeropress,NaN,NaN,Latte,NaN,"Milk, dairy alternative, or coffee creamer, Sugar or sweetener",...,$500-$1000,Yes,Female,NaN,Doctorate or professional degree,White/Caucasian,NaN,Employed full-time,1,Democrat

## Separate `where_drink` strings into different columns

In [160]:
df['where_drink'].value_counts()

where_drink
At home                                         1625
At home, At a cafe                               416
At home, At the office                           407
At the office, At home                           229
At the office                                    141
                                                ...
At a cafe, On the go, At the office                1
On the go, At a cafe, At the office                1
None of these, At a cafe                           1
On the go, At the office, At home, At a cafe       1
At a cafe, On the go                               1
Name: count, Length: 65, dtype: int64

In [161]:
# Count occurrences of each keyword and store the results in new columns
df['drink_at_home'] = df['where_drink'].str.count('At home')
df['drink_at_cafe'] = df['where_drink'].str.count('At a cafe')
df['drink_at_office'] = df['where_drink'].str.count('At the office')
df['drink_on_the_go'] = df['where_drink'].str.count('On the go')
df['drink_none_of_these'] = df['where_drink'].str.count('None of these')

# treat NaN value as 0
df['drink_at_home'] = df['drink_at_home'].fillna(0).astype(int)
df['drink_at_cafe'] = df['drink_at_cafe'].fillna(0).astype(int)
df['drink_at_office'] = df['drink_at_office'].fillna(0).astype(int)
df['drink_on_the_go'] = df['drink_on_the_go'].fillna(0).astype(int)
df['drink_none_of_these'] = df['drink_none_of_these'].fillna(0).astype(int)

In [162]:
# Drop 'Add_ons Purchased'
df = df.drop('where_drink',axis=1)

df.head()

,age,cups,brew,brew_other,purchase,purchase_other,favorite,favorite_specify,additions,additions_other,...,ethnicity_race,ethnicity_race_specify,employment_status,number_children,political_affiliation,drink_at_home,drink_at_cafe,drink_at_office,drink_on_the_go,drink_none_of_these
0,1.0,NaN,NaN,NaN,NaN,NaN,Regular drip coffee,NaN,No - just black,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
1,2.0,NaN,Pod/capsule machine (e.g. Keurig/Nespresso),NaN,NaN,NaN,Iced coffee,NaN,"Sugar or sweetener, No - just black",NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
2,2.0,NaN,Bean-to-cup machine,NaN,NaN,NaN,Regular drip coffee,NaN,No - just black,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
3,3.0,NaN,Coffee brewing machine (e.g. Mr. Coffee),NaN,NaN,NaN,Iced coffee,NaN,"No - just black, Cinnamon",NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0
4,2.0,NaN,Pour over,NaN,NaN,NaN,Latte,NaN,No - just black,NaN,...,NaN,NaN,NaN,NaN,NaN,0,0,0,0,0

## Separate `brew` strings into different columns

In [163]:
df['brew'].value_counts()

brew
Pour over                                                                                 575
Pour over, Espresso                                                                       358
Espresso                                                                                  293
Other                                                                                     206
Coffee brewing machine (e.g. Mr. Coffee)                                                  204
                                                                                         ...
Espresso, Pour over, Pod/capsule machine (e.g. Keurig/Nespresso)                            1
Pour over, French press, Espresso, Cold brew, Coffee brewing machine (e.g. Mr. Coffee)      1
Pod/capsule machine (e.g. Keurig/Nespresso), Pour over, Instant coffee, Cold brew           1
Cold brew, Pour over, French press                                                          1
Espresso, Pod/capsule machine (e.g. Keurig/Nespresso), Instant coffee, Other                1
Name: count, Length: 449, dtype: int64

In [164]:
# Count occurrences of each keyword and store the results in new columns
df['brew_pour_over'] = df['brew'].str.count('Pour over')
df['brew_espresso'] = df['brew'].str.count('Espresso')
df['brew_brewing_machine'] = df['brew'].str.count('Coffee brewing machine')
df['brew_french_press'] = df['brew'].str.count('French press')
df['brew_instant_coffee'] = df['brew'].str.count('Instant coffee')
df['brew_bean_to_cup_machine'] = df['brew'].str.count('Bean-to-cup machine')
df['brew_cold_brew'] = df['brew'].str.count('Cold brew')
df['brew_pod_capsule_machine'] = df['brew'].str.count('Pod/capsule machine')
df['brew_coffee_extract'] = df['brew'].str.count('Coffee extract')


# treat NaN value as 0
df['brew_pour_over'] = df['brew_pour_over'].fillna(0).astype(int)
df['brew_espresso'] = df['brew_espresso'].fillna(0).astype(int)
# df['brew_other'] = df['brew_other'].fillna(0).astype(int)
df['brew_brewing_machine'] = df['brew_brewing_machine'].fillna(0).astype(int)
df['brew_french_press'] = df['brew_french_press'].fillna(0).astype(int)
df['brew_instant_coffee'] = df['brew_instant_coffee'].fillna(0).astype(int)
df['brew_bean_to_cup_machine'] = df['brew_bean_to_cup_machine'].fillna(0).astype(int)
df['brew_cold_brew'] = df['brew_cold_brew'].fillna(0).astype(int)
df['brew_pod_capsule_machine'] = df['brew_pod_capsule_machine'].fillna(0).astype(int)
df['brew_coffee_extract'] = df['brew_coffee_extract'] .fillna(0).astype(int)

In [ ]:

brews = df[['brew','brew_pour_over','brew_espresso','brew_brewing_machine','brew_french_press','brew_instant_coffee','brew_bean_to_cup_machine','brew_cold_brew','brew_pod_capsule_machine','brew_coffee_extract']]

random_10_rows = brews.sample(n=5)
random_10_rows

In [236]:
# Replace values in column 
df['brew_other'] = df['brew_other'].replace({'AeroPress': 'Aeropress', 
                                             'aeropress':'Aeropress',
                                             'Moka pot':'Moka Pot',
                                             'moka pot':'Moka Pot',
                                             'Clever dripper':'Clever Dripper',
                                             'Clever':'Clever Dripper',
                                             'Aero press':'Aeropress',
                                             'Aero Press':'Aeropress',
                                             'aero press':'Aeropress',
                                             'clever dripper':'Clever Dripper',
                                             'Mocha pot':'Moka Pot',
                                             'Hario switch':'Hario Switch',
                                             'Areopress':'Aeropress',
                                             'moka':'Moka Pot',
                                             'AeroPress':'Aeropress',
                                             '':'',
                                             '':'',
                                             })

In [234]:
df['brew_other'].value_counts().head(60)

brew_other
Aeropress                                                                                                    414
Moka Pot                                                                                                      58
Clever Dripper                                                                                                26
Hario Switch                                                                                                   9
Moka                                                                                                           5
Turkish                                                                                                        5
Siphon                                                                                                         5
Aeropress, Moka Pot                                                                                            5
Aeropress, MokaPot                                                                                             3
Aeropress, Moka pot                                                                                            3
Moka Pot, Aeropress                                                                                            2
Aeropress, moka pot                                                                                            2
Aeropress, clever                                                                                              2
Aeropress/Clever Dripper                                                                                       2
Mokapot, Aeropress                                                                                             2
Aeropress, Hario Switch                                                                                        2
Aeropress, Phin                                                                                                2
Infusion                                                                                                       2
Percolator                                                                                                     2
Hario switch/immersion                                                                                         1
Instant with other flavors. I know, I know...                                                                  1
Clever and Aeropress                                                                                           1
Stovetop mocha pot                                                                                             1
Aeropress / Clever Dripper                                                                                     1
Aeropress and Moka pot                                                                                         1
usually Aeropress and sometimes moka pot - I use a Nanopresso for espresso                                     1
Aeropress, moka                                                                                                1
Turkish, Moka Pot, Chemex, Sowden SoftBrew, Hario Switch, Aeropress                                            1
Aeropress and Hario Switch                                                                                     1
I buy premade canned coffee                                                                                    1
Moccamaster                                                                                                    1
Aero Press, Moka Pot                                                                                           1
Aeropress; Moka Pot                                                                                            1
Mocha Pot                                                                                                      1
mukka express (moka)                                                                                           1
Ibrik, Bripe                                                                                                   1
Black Blood of the Earth, served on the rocks                                                                  1
My husband does the brewing                                                                                    1
Hario Switch, Aeropress                                                                                        1
AeroPress, Moka pot                                                                                            1
Protein powder with coffee                                                                                     1
AP                                                                                                             1
Moka, Aeropress                                                                                                1
Italian                                                                                                        1
Put grounds in tea bag, pour water through opening in top of bag, let steep.  Not sure how to categorize.      1
drip cold brew tower                                                                                           1
Chemex                                                                                                         1
My wife is the coffee drinker. Sometimes she shares with me                                                    1
Cometteer                                                                                                      1
Espresso machine                                                                                               1
aeropress, moka pot                                                                                            1
steep and release with a hario switch                                                                          1
cupping                                                                                                        1
Turkish coffee                                                                                                 1
Turkish Coffee                                                                                                 1
Aeropress, Switch                                                                                              1
Aeropress, clever dripper, Vietnamese phin                                                                     1
Steep coffee bags                                                                                              1
Bripe                                                                                                          1
V60 Switch. Immersion with paper filter                                                                        1
Name: count, dtype: int64

In [237]:
# Count occurrences of each keyword and store the results in new columns
df['brew_aeropress'] = df['brew_other'].str.count('Aeropress')
# df['brew_'] = df['brew_other'].str.count('')
# df['brew_'] = df['brew_other'].str.count('')
# df['brew_'] = df['brew_other'].str.count('')
# df['brew_'] = df['brew_other'].str.count('')
# df['brew_'] = df['brew_other'].str.count('')
# df['brew_'] = df['brew_other'].str.count('')
# df['brew_'] = df['brew_other'].str.count('')
# df['brew_'] = df['brew_other'].str.count('')
# df['brew_'] = df['brew_other'].str.count('')
# df['brew_'] = df['brew_other'].str.count('')


# treat NaN value as 0
df['brew_aeropress'] = df['brew_aeropress'].fillna(0).astype(int)

In [238]:
df[['brew_other','brew_aeropress']]

     brew_other  brew_aeropress
0           NaN               0
1           NaN               0
2           NaN               0
3           NaN               0
4           NaN               0
...         ...             ...
4037        NaN               0
4038        NaN               0
4039  Aeropress               1
4040        NaN               0
4041  Aeropress               1

[4042 rows x 2 columns]

In [239]:
brews = df[['brew_other','brew_aeropress']]

random_10_rows = brews.sample(n=10)
random_10_rows

                        brew_other  brew_aeropress
2734                           NaN               0
1954                           NaN               0
1940                           NaN               0
2489                           NaN               0
3854                           NaN               0
2600                           NaN               0
1341  Harki switch steeping method               0
1647                           NaN               0
3035                     Aeropress               1
289                            NaN               0

In [240]:
df[df.index==3479]

,age,cups,brew,brew_other,purchase,purchase_other,favorite,favorite_specify,additions,additions_other,...,brew_pour_over,brew_espresso,brew_brewing_machine,brew_french_press,brew_instant_coffee,brew_bean_to_cup_machine,brew_cold_brew,brew_pod_capsule_machine,brew_coffee_extract,brew_aeropress
3479,2.0,2,"Espresso, Other","Chemex, AeroPress",NaN,NaN,Espresso,NaN,No - just black,NaN,...,0,1,0,0,0,0,0,0,0,0

In [ ]:
# # Drop 'Add_ons Purchased'
# df = df.drop(columns=['brew','brew_other'],axis=1)

# df.head()